<h1>Welcome to the Animal Shelter</h1>
<p>This system stores details for all current and former fluffy residents at the Animal Shelter, Glasgow.  Add and remove pets as needed and use the edit feature to keep track of the status of all animals.</p>
