<h2>Here are our success stories:</h2>

<table id="pets">
  <% for pet in @pets %>
  <tr>
    <td><%= (Owner.find(pet.owner_id)).name %> adopted <%= (Animal.find(pet.animal_id)).name %> the <%= (Animal.find(pet.animal_id)).type %></td>
    <td>
    <form action="/pets/<%= pet.id %>/delete" method="POST">
      <input id="delete" type="image" src="/images/delete.png" alt="Delete" width=30px height=30px border=0 />
    </form>
    </td>

  </tr>
  <% end %>
</table>
