table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  padding: 0;
}

tr {
  width: 75%;
}

th {
  background-color: rgb(64, 177, 226);
  font-style: bold;
}

td {
  max-width: 210px;
}

tr {
  width: 100%;
}

td img {
  max-width: 150px;
  max-height: 150px;
}

td img:hover {
  transform: scale(3);
}

#edit {
  transition-property: none;
}

table tr:nth-child(even) {
    background-color: rgb(170, 224, 238);
}

table tr:nth-child(odd) {
    background-color: rgb(144, 212, 245);
}

.only_adopt {
  display: inline-block;
  margin-right: 10px;
}

.search_type {
  display: inline-block;
  margin-right: 10px;
}

.search_breed {
  display: inline-block;

}
