table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  padding-top: 30px;
}

#owners {
  text-align: left;
}

tr {
  width: 75%;
}

th {
  background-color: rgb(192, 167, 212);
  font-style: bold;
}

td {
  max-width: 210px;
}

tr {
  width: 100%;
}

td img {
  max-width: 150px;
  max-height: 150px;
}

td img:hover {
  transform: scale(3);
}

#edit img {
  transform: none;
}

table tr:nth-child(even) {
    background-color: rgb(213, 213, 213);
}

table tr:nth-child(odd) {
    background-color: rgb(193, 176, 190);
}

.only_adopt {
  display: inline-block;
  margin-right: 10px;
}

.search_type {
  display: inline-block;
  margin-right: 10px;
}

.search_breed {
  display: inline-block;

}
