<table id="owners">
  <tr>
    <th>Potential/Current Owners</th>
    <th></th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><%= owner.name %></td>
    <td><a id="edit" href="/owners/<%= owner.id %>/edit">
      <img src="/images/edit.ico" alt="Edit" width="25" height="25" border="0">
    </a>

    <form action="/owners/<%= owner.id %>/delete" method="POST">
      <input id="delete" type="image" src="/images/delete.png" alt="Delete" width=20px height=20px border=0 />
    </form>
    </td>

  </tr>
  <% end %>
</table>
